/* General Styles */
.jobs-container {
  background-color: #1e1e1e;
  height: 100vh;

}

.no-jobs-available-loading-line {
  color: aliceblue;
  height: 70vh;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tinder-cards {
  background-color: #1893d5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bookmark-button.btn3:hover {
  background-color: #003f91; /* Slightly darker blue for hover effect */
}

.job-card {
  height: 60vh;
  position: absolute;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #202020;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  touch-action: pan-x;
}

.job-card.swiping-left {
  transform: translateX(-100%) rotate(-10deg);
  opacity: 0;
}

.main-heading-jobs {
  color: white;
  text-align: center;
  font-size: 26px;
}

.job-title {
  color: white;
}

.bookmark-button {
  background-color: #1893d5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-left: 20px;
}

.btn3 {
  margin-top: 20px;
  background-color: #1893d5;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.details {
  color: beige;
}

.swiper {
  height: 70vh;
  perspective: 1000px;
  perspective-origin: center;
  transform-style: preserve-3d;
  position: relative;
}

.swipe-indicator {
  position: absolute;
  top: 87%;
  left: 47%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bookmark-indicator {
  background-color: #7FDB6A;
  opacity: 1;
}

.dismiss-indicator {
  background-color: #F44747;
  opacity: 1;
}

.bookamrk-dismiss-action-conatiner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Media Queries */

/* Mobile Devices (max-width 480px) */
@media screen and (min-width: 480px) {
  .job-card {
    width: 337px;
    height: 55vh;
    padding: 8px;
  }

  .main-heading-jobs {
    font-size: 22px;
  }

  .bookmark-button.btn3 {
    background-color: #0050b3; /* Dark blue background */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bookmark-button {
    margin-left: 20px;
  }
}

@media screen and (min-width:1368px) {
  .job-card {
    width: 97.5vw;

  }

  .bookmark-button {
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
  .job-card {
    width: 89%;
  }
}

@media screen and (min-width: 360px) and (max-width: 740px) {
  .job-card {
    width: 89%;
  }
}

@media screen and (min-width: 540px) and (max-width: 720px) {
  .job-card {
    width: 93%;
  }
}

@media screen and (min-width: 344px) and (max-width: 882px) {
  .job-card {
    width: 89%;
  }
}

@media screen and (min-width: 853px) and (max-width: 1280px) {
  .job-card {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 600px) {
  .job-card {
    height: 40vh;
  }
}